html,body{ height: 100% }

#root{ height:100%;}

#logo{width:2rem;}
.site-layout-background{background-color: white;}

.qs-editor{
    z-index:0
}

.ant-picker-dropdown{
    z-index:10001 !important
}

.ant-layout-header{
    display:flex;
    justify-content: space-between;
}